@import 'colors';

.btn {
    border: 0;
    outline: none;
    border-radius: .25rem;
    height: 32px;
    width: 100px;
    font-size: large;
    &-primary {
      @extend .btn;
      background-color: $primary-bg-color;
      
      color: $primary-color;
    }
    &-secondary {
      @extend .btn;
      background-color: $secondary-bg-color;
      color: $secondary-color;
    }
  }
  
  .btn:hover {
    opacity: 0.8;
  }