
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  
    &-md {
      @extend .col;
      flex: 8;
    }
  
    &-lg {
      @extend .col;
      flex: 12;
    }

    &-sm {
      @extend .col;
      flex: 4;
    }
  }