@import "colors";

.footer {
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 50px;
    color: white;
    justify-content: center;
    &-primary{
        @extend .footer;
        background-color: $primary-bg-color;
    }
}