@import "colors";

.input {
  border: 0;
  height: 30px;
  outline: none;
  font-size: large;
  &-primary {
    @extend .input;
    background-color: $primary-bg-color;
    color: $primary-color;
  }
}

.input:disabled{
    opacity: 0.6;
}
