@use '_button';
@import "colors";

.navbar {
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 50px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  &-primary {
    @extend .navbar;
    background-color: $primary-bg-color;
    color: $primary-color;
  }
  &-secondary {
    @extend .navbar;
    background-color: $secondary-bg-color;
    color: $secondary-color;
  }
}

.navbar > * {
  height: 100%;
  border-left: 1px solid white;
  border-radius: 0px;
  text-align: center;
  text-align-last: center;
}

.navbar > .btn:hover {
  opacity: 0.5;
}

.navbar > .brand {
  margin-bottom: 0px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  border: 0;
}

.navbar:active {
  .container {
    padding-top: 50px;
  }
}
