@use '_button';
@use '_navbar';
@use '_container';
@use '_input';
@use '_sidebar';
@use '_dropdown';
@import "colors";

@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

body {
  font-family: Quicksand;
  font-size: large;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  &-md {
    @extend .col;
    flex: 1;
  }

  &-lg {
    @extend .col;
    flex: 2;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

